Package: com.b01s.googlemapsenhancer
Name: GoogleMapsEnhancer
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Enhance your Google Maps
Maintainer: b01s <b01s2791@gmail.com>
Author: b01s <b01s2791@gmail.com>
Section: Tweaks
