<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>label</key>
			<string>Settings</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.b01s.googlemapsenhancer/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.b01s.googlemapsenhancer</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>tweakEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Default Mode</string>
			<key>detail</key>
			<string>DefaultModeListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Following Mode</string>
			<key>detail</key>
			<string>FollowingModeListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Navigation Mode</string>
			<key>detail</key>
			<string>NavigationModeListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Related tweak</string>
			<key>footerText</key>
			<string>Hides the footer card at startup.</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>cydia.png</string>
			<key>action</key>
			<string>openNoGMS</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>NoGMStartupFooterCard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>E-mail</string>
			<key>footerText</key>
			<string>Feel free to send me your feedback!</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>email.png</string>
			<key>action</key>
			<string>sendEmail</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>b01s@gmail.com</string>
		</dict>
		<dict>
			<key>footerText</key>
			<string></string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Donation</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>kofi.png</string>
			<key>action</key>
			<string>donate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Buy Me a Coffee</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Source Code</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>github.png</string>
			<key>action</key>
			<string>openGitHub</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>GitHub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>b01s.png</string>
			<key>action</key>
			<string>openTwitter_b01s</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>b01s</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contributor</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Sayed.png</string>
			<key>action</key>
			<string>openSayed</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Sayed Ahmed</string>
		</dict>
		<dict>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>Created by b01s</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>GoogleMapsEnhancer</string>
</dict>
</plist>
